@{
    ViewBag.Title = "DEMO";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about Infragistics Ignite UI components visit <a href="http://www.infragistics.com/" title="Infragistics Website">Infragistics Website</a>
                If you have any questions about Ignite UI components visit <a href="http://forums.infragistics.com/jquery/forums/default.aspx" title="Infragistics Ignite UI Forum">our forums</a>.
                For Ignite UI samples visit  <a href="http://samples.infragistics.com/jquery" title="Infragistics Ignite UI Samples">Infragistics Ignite UI Samples</a>  The page contains <mark>samples and tutorials,
                        </mark> to help you get the most from jQuery components. For more <mark>information</mark> you could visist <a href="http://help.infragistics.com/NetAdvantage/jQuery/2012.2/CLR4.0" 
                        title="Infragistics jQuery Developer's Guide">
                        Infragistics Ignite UI Developer's Guide</a>  and <a href="http://help.infragistics.com/jQuery/2012.2/" title="Ignite UI API documentation">Ignite UI API documentation.</a> 
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards. <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn
            more</a></li>
    <li class="two">
        <h5>Add NuGet packages and jump start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools. <a href="http://go.microsoft.com/fwlink/?LinkId=245153">
            Learn more</a></li>
    <li class="three">
        <h5>Install Infragistics Ignite UI</h5>
        You can easily create HTML dashboards and Line of Business applications using Ignite UI in 
        your applications. <a href="http://www.infragistics.com/dotnet/netadvantage/jquery-controls.aspx#Overview">Learn
            more</a></li>
    
</ol>
<img src="~/Images/jquery-shots.png" alt="Ignite UI" />
