<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://igMap.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>igMap</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$igMap</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SpatialDemoEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ic509d6puu.database.windows.net;Initial Catalog=SqlSpatialDemo;Persist Security Info=True;User ID=mmateev;Password=Hipopotam1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:ic509d6puu.database.windows.net;Initial Catalog=SqlSpatialDemo;Integrated Security=False;User ID=mmateev@ic509d6puu;Password=Hipopotam1;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SpatialDemoEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/WorldModel.csdl|res://*/WorldModel.ssdl|res://*/WorldModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:ic509d6puu.database.windows.net;Initial Catalog=SqlSpatialDemo;Integrated Security=False;User ID=mmateev@ic509d6puu;Password=Hipopotam1;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="NorthwindEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ic509d6puu.database.windows.net;Initial Catalog=Northwind;Persist Security Info=True;User ID=mmateev;Password=Hipopotam1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:ic509d6puu.database.windows.net;Initial Catalog=Northwind;Integrated Security=False;User ID=mmateev@ic509d6puu;Password=Hipopotam1;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NorthwindEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/NorthwindModel.csdl|res://*/NorthwindModel.ssdl|res://*/NorthwindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:ic509d6puu.database.windows.net;Initial Catalog=Northwind;Integrated Security=False;User ID=mmateev@ic509d6puu;Password=Hipopotam1;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NorthwindEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/NorthwindModel.csdl|res://*/NorthwindModel.ssdl|res://*/NorthwindModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:ic509d6puu.database.windows.net;initial catalog=Northwind;persist security info=True;user id=mmateev;password=Hipopotam1;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SpatialDemoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/WorldModel.csdl|res://*/WorldModel.ssdl|res://*/WorldModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:ic509d6puu.database.windows.net;initial catalog=SqlSpatialDemo;persist security info=True;user id=mmateev;password=Hipopotam1;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>